# Ignore everything
*

# But not these files
!.gitignore
!poke_api_fetcher.py
!requirements.txt
!README.md

# Ignore all directories
*/

# Even if they are tracked by git
!*/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
